{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    <hr class="hr" />

    <div class="card-deck">



        {% for tema in temas %}
            <div class="card">
                <div class="card-body">
                    <a href="/tema?id={{tema.id}}"><h5 class="card-title">{{tema.title}}</h5></a>
                    <p class="card-text">{{tema.description}}</p>
                </div>
                <div class="card-footer text-muted">
                    Posted by : {{tema.user.username}}
                </div>
            </div>
        {% endfor %}

    </div>

    <hr class="hr" />

    {% if 'user' in request.__dict__ and request.user and request.user.token %}
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/nuevoTema" class="nav-link active" aria-current="page">Nuevo tema</a></li>
        </ul>
    {% endif %}

</div>

{% endblock %}