{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <h1>The best library</h1>
    {% if 'user' in request.__dict__ and request.user and request.user.token: %}
        <br>
        <h5>Libros recomendados:</h5>
        {% if recomendaciones == None: %}
            <h6>No hay recomendaciones</h6>
        {% else: %}
            {% for elem in recomendaciones%}
            <div class="card-body">
                <a href="/book?id={{elem.id}}"><h5 class="card-title">{{elem.title}}</h5></a>
            </div>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>
{% endblock %}