{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <hr class="hr" />
    <div class="row">

        {% for resena in resenas %}
            <div class="col-lg-12 col-md-12 col-sm-12 my-12">
                <div class="card d-flex flex-row" style="width: 18rem;">
                    <img src="{{resena.libro.cover}}" class="rounded" style="max-width: 6rem; height: fit-content;">
                    <div class="card-body">
                        <a href="/resena?idLibro={{resena.libro.id}}"><h5 class="card-title">{{resena.libro.title}}</h5></a>
                        {% if resena.resena: %}
                        <p class="card-text">{{resena.resena}}</p>
                        {% endif %}
                        <p class="card-text">{{resena.valoracion}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <hr class="hr" />
</div>

{% endblock %}