{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    

    <div class="col-lg-4 col-md-6 col-sm-12 my-2">
        <div class="card d-flex flex-row" style="width: 65rem;">
            <img src="{{resena.libro.cover}}" class="rounded" style="max-width: 6rem; height: fit-content;">
            <div class="card-body">
                <h5 class="card-title">{{resena.libro.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{resena.valoracion}}</h6>
                <p class="card-text">{{resena.resena}}</p>
            </div>
        </div>
    </div>
    <br>
    <div style="width: 65rem;">
        <a href="/resenas"><button type="submit" id="Volver" class="btn btn-primary">Volver</button></a>
        <!--return available only in case of loan-->
        <a href="/editarResena?id={{resena.libro.id}}"><button type="submit" id="Editar" class="btn btn-primary">Editar Reseña</button></a>
    </div>

</div>

{% endblock %}