{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <h2> Amigos de <i>{{usuario}}</i></h2>
    <div class="row">
         {% for amigo in amigos %}
            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                <div class="card d-flex flex-row" style="width: 18rem;">
                    <div class="card-body">
                        <form class="form-inline" method="POST" action="/verAmigos">
                            <h5 class="card-title">{{amigo}}</h5>
                            <input type="hidden" value="{{amigo}}" name="emailUsuario">
                            <hr class="my-3">
                            <button type="submit" class="btn btn-primary btn-block mb-4", id="verPerfil", name="verPerfil">Ver Perfil</button>
                        </form>
                    </div>
                </div>
            </div>
         {% endfor %}
    </div>
    <a href="/amigos"><button type="submit" id="botonVerAmigos" class="btn btn-primary">Volver al menú de Amigos</button></a>
    <a href="/"><button type="submit" id="botonMenuAmigos" class="btn btn-primary">Ir al menú principal</button></a>
</div>

{% endblock %}